@model IList<Picture>

@{
    ViewBag.Title = ViewBag.albumName;

}

@section scripts
{
    <script src="~/Scripts/Custom/EditMenu.js" type="text/javascript"></script>
    <script>
        function showAdvancedSearch() {
            if ($('.advanced-search-block').attr('style') == "display: block") {
                $('.advanced-search-block').attr('style', 'display: none');
            } else {
                $('.advanced-search-block').attr('style', 'display: block');
            }
        }
    </script>
}

@section search
{
    <div class="search-block">
        @using (Html.BeginForm("Album", "Albums", new {ViewBag.userName},
            FormMethod.Get, new {@class = "search"}))
        {
            @Html.TextBox("searchRequest", null, new { @class = "search-box", placeholder = "search picture..." })
            <input type="submit" value="SEARCH" class="search-button" />
        }
        <input type="button" value="ADVANCED SEARCH" class="search-button" onclick="showAdvancedSearch()" />
        
    </div>
    <div class="advanced-search-block">
        @Html.Action("AdvanceSearch", "Albums", new { ViewBag.albumName })
    </div>
}
@section editBlock
{
    <div class="edit-block">

        <div style="float: left; margin-left: 20px">
            <a class="edit-block-item" href="@Url.RouteUrl("MainScheme",
                new { action = "Index", controller = "Albums", ViewBag.userName, ViewBag.searchRequest })">Back to albums</a>
        </div>
        <div class="left">
            <a class="edit-block-item" href="@Url.RouteUrl("AlbumScheme",
                new { action = "AddNewPicture", controller = "Pictures", ViewBag.albumName, userName = User.Identity.Name })">Add Picture</a>
        </div>
        <div class="left">
            <a class="edit-block-item" href="@Url.RouteUrl("AlbumScheme",
                new { action = "AddPictures", controller = "Albums", ViewBag.albumName })">Add Pictures from existing</a>
        </div>
        <div class="left">
            <a class="edit-block-item" href="@Url.Action("EditAlbum", "Albums",
                new { ViewBag.albumName })">Edit Album</a>
        </div>
        <div class="left">
            <a class="edit-block-item" id="delete" href="@Url.Action("DeleteAlbum", "Albums",
                new { ViewBag.albumName })">Delete Album</a>
        </div>

        <div class="right">
            <a class="edit-block-item" id="manage">Manage Album</a>
        </div>

    </div>
}

<div class="body">

    <div class="albums-container">
        @for (var i = 0; i < Model.Count; i++)
        {
            <div class="album-container">
                <a href="@Url.RouteUrl("PictureScheme", new
                         {
                             action = "Index",
                             controller = "Pictures",
                             ViewBag.albumName,
                             ViewBag.userName,
                             pictureName = Model[i].Name,
                             ViewBag.searchRequest,
                             index = ViewBag.index + i
                         })">

                    @*//var base64 = Convert.ToBase64String(Model[i].IconData);
                        //var imgSrc = String.Format("data:{1};base64,{0}", base64, Model[i].ImageMimeType);*@
                    <img src="@Url.Action("GetPictureIcon", new { controller = "Pictures", pictureId = Model[i].Id })" />
                    <div class="albums-container-div">@Model[i].Name</div>
                    <div class="checkbox-indicator checkbox-container">
                        @if (Model[i].IsPrivate)
                        {
                            @*<span class="tooltiptext">private</span>*@
                            <div class="private"></div>
                        }
                        else
                        {
                            @*<span class="tooltiptext">public</span>*@
                            <div class="public"></div>
                        }
                    </div>

                </a>
            </div>
        }
        @Html.Action("PicturesNavigation", new { ViewBag.albumName, ViewBag.userName, ViewBag.searchRequest, ViewBag.picturesPerPage })
    </div>
</div>