@model Album
@{
    ViewBag.Title = "AddNewAlbum";
}

@section scripts
{
    <script src="~/Scripts/Custom/previewImage.js" type="text/javascript"></script>
}

<h2>Add New Album</h2>
<div class="body body-edit">

    @using (Html.BeginForm("AddNewAlbum", "AjaxAlbums",
        FormMethod.Post, new {enctype = "multipart/form-data"}))
    {
        @Html.ValidationSummary()
        ;
        <table>
            <tr>
                <td>@Html.LabelFor(x => x.Name)</td>
                <td>@Html.EditorFor(x => x.Name)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.IsPrivate)</td>
                <td>@Html.EditorFor(x => x.IsPrivate)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.Description)</td>
                <td>@Html.EditorFor(x => x.Description)</td>
            </tr>
        </table>
        <div class="cover-preview">
            <img src="" id="cover-preview" style="display: none" />
            <p>Choose album cover: <input type="file" name="image" onchange=" PreviewImg(this) " /></p>
        </div>
        <div class="submit">
            <input class="submit" type="submit" value="Add New Album" />
        </div>
    }
</div>
